@import './fonts.scss';

$myColor: red;
$white: #fff;
$cardGrey: #585858;
$cardGrey2: #7e7e7e;
  
html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
  font-family: Roboto;
}

#root {
  background: lightblue;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;}

h1 {
  color: $white;
  color: black;
}

label{
    color: $white;
}

/* .App{
    overflow: hidden;
} */

.cardTopClick{
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 30%;
    right: 0;
}

.cardBottomClick{
    position: absolute;
    top: 80%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
}

.card-item{
    background-color: red;
}
.horizontalLine{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 15px;
}

.likeBtnHeart{
    position: absolute;
    top: 35px;
    right: 30px;
}

.profileContainer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}
.profileHeadshot {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}

.blurOverlay{
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.profileHeadshot{
    position: absolute;
}

.socialShareMenu{
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
    margin-left: 30px;
    .socialShareMenuBtn{
        margin-right: 30px;
        font-size: 1.25em;
        color: #fff;
    }
}

.deckContainer{
    /* position: relative;
    height: 100vh;
    width: 100vw; */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    .deckCards{
       /*  position: absolute;
        bottom: 0;
 */
        .deckCard{
            /* position: absolute;
            top: 60%; */
            position: fixed;
            bottom: 0;
            //background-color: $cardGrey;
            width: 80% !important;
            padding: 15px;
            border-top-right-radius: 50px;
            text-align: left;
            color: #fff;
            min-height: 600px;
            max-width: 450px; 
            height: 600px;
            z-index: 0;

            h2{
                font-size: 1em;
                font-weight: 300;
                margin-left: 15px;
            }

            .musicList{
                position: relative;
                
                .deckCardMusic{
                    margin-bottom: 15px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            
            .deckCardDetails{   
                .deckCardDetailsArtistName{
                    font-size: 2.4em;
                    font-weight: bold;
                    margin-bottom: 0px;
                    letter-spacing: 1px;
                }
                .deckCardDetailsArtistType, .deckCardDetailsArtistLocation{
                    margin-left: 10px;
                    font-size: .9em;
                }
    
                .deckCardDetailsMusicTitle{
                    font-size: 1em;
                }
    
                .deckCardDetailsArtistPlayer{
                    display: flex;
    
                    .deckCardDetailsTrackPlayer{
                        .releaseDate{
                            float: right;
                        }
    
                        .deckCardDetailsTrackPlayerTitle{
                            width: 100%;

                            .trackTitle, .releaseDate{
                                font-size: .8em;
                            }
                        }
    
                        .playBtn{
                            width: 10%;
                            padding: 5px;
                        }
    
                        .timeline{
                            width: 90%;
                        }
                    }
    
                    .deckCardDetailsTrackImage{
                        img{
                            width: 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .textBox{
                padding: 15px;
                text-align: justify;
                font-size: .8em;
            }
        
            .followerCount{
                display: flex;
                justify-content: space-between;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
                .followerCountNumber{
                    font-weight: bold;
                }
                .followerCountText{
                    display: block;
                    font-weight: normal;
                    font-size: .8em;
                }
            }        
        }
        .deckCard .sc-bxivhb{
            /* position: absolute;
            top: 60%; */
            position: fixed;
            bottom: 0;
            background-color:rgba(66, 64, 64, .95);
            opacity: .9;
            width: 90% !important;
            padding: 15px;
            border-top-right-radius: 50px;
            text-align: left;
            color: #fff;
            min-height: 600px;
            max-width: 450px; 
            //height: 600px;
            transition: .5s transform ease-out;
            background-size: 100% !important;
            //box-shadow: 3px 3px 3px 3px rgba(255,255,255,.2);
            box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,.7), inset -0.2em -0.2em 0.2em 0 rgba(255, 255, 255, 0.1);
            left: -5px;


            .clickOverlay{
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
            }

            h2{
                font-size: 1em;
                font-weight: 300;
                margin-left: 15px;
            }

            .musicList{
                position: relative;
                
                .deckCardMusic{
                    margin-bottom: 15px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            
            .deckCardDetails{   
                .deckCardDetailsArtistName{
                    font-size: 2.4em;
                    font-weight: bold;
                    margin-bottom: 0px;
                    letter-spacing: 1px;
                }
                .deckCardDetailsArtistType, .deckCardDetailsArtistLocation{
                    margin-left: 10px;
                    font-size: .9em;
                }
    
                .deckCardDetailsMusicTitle{
                    font-size: 1em;
                }
    
                .deckCardDetailsArtistPlayer{
                    display: flex;
    
                    .deckCardDetailsTrackPlayer{
                        .releaseDate{
                            float: right;
                        }
    
                        .deckCardDetailsTrackPlayerTitle{
                            width: 100%;

                            .trackTitle, .releaseDate{
                                font-size: .8em;
                            }
                        }
    
                        .playBtn{
                            width: 10%;
                            padding: 5px;
                        }
    
                        .timeline{
                            width: 90%;
                        }
                    }
    
                    .deckCardDetailsTrackImage{
                        img{
                            width: 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .textBox{
                padding: 15px;
                text-align: justify;
                font-size: .8em;
            }
        
            .followerCount{
                display: flex;
                justify-content: space-between;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
                .followerCountNumber{
                    font-weight: bold;
                }
                .followerCountText{
                    display: block;
                    font-weight: normal;
                    font-size: .8em;
                }
            }        
        }

        .deckCard .sc-bxivhb:nth-child(1n){
            margin-left: 60px;
            margin-top: 190px;
            transform: translateX(0px) translateY(310px) scale(1) rotate( 
                0deg
                 ) rotateX( 
                0deg
                 ) translateZ(0px) !important;
        }
        .deckCard .sc-bxivhb:nth-child(2n){
            margin-left: 30px;
            margin-top: 90px;
            transform: translateX(0px) translateY(380px) scale(1) rotate( 
                0deg
                 ) rotateX( 
                0deg
                 ) translateZ(0px) !important;
        }
        .deckCard .sc-bxivhb:nth-child(3n){
            margin-left: 0px;
            margin-top: 0px;
            transform: translateX(0px) translateY(450px) scale(1) rotate( 
                0deg
                 ) rotateX( 
                0deg
                 ) translateZ(0px) !important;
        }

        .deckCard .sc-bxivhb {
            display: none;
        }
        .deckCard .sc-bxivhb:nth-child(-n+3){
            display: block;
        }

        .deckCard.selected{
            bottom: 0;
        }
    }

    .deckCards div:nth-child(1) .deckCard{
        margin-left: 20%;
        margin-bottom: -86%;
        background-color: rgba(66, 64, 64, .95);
    }

    .deckCards div:nth-child(2) .deckCard{
        margin-left: 10%;
        //bottom: -76%;
        margin-bottom: -76%;
        background-color: lighten( rgba(66, 64, 64, .95), 20% );
    }

    .deckCards div:nth-child(3) .deckCard{
        //margin-left: 0%;
        left: 0px;
       // bottom: -66%;
        margin-bottom: -66%;
        background-color: rgba(66, 64, 64, .95);
    }
}

.sideMenu{
    position: absolute;
    background: #414141;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90vh;
    border-radius: 0 60px 0 0;

    img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

.sideBarMenu{
    position: absolute;
    background: rgba(65,65,65, .8);
    color: #fff;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    z-index: 9;

    img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .svg-inline--fa {
        width: 100%;
        font-size: 2em;
        margin-top: 45px;
    }
}

.sidebarMenuBtn{
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: -15px;
    top: calc(50% - 15px);
    border-radius: 50%;
    z-index: 10;
}

.transparencyGradient{
    /* position: absolute;
    bottom: 0;
    width: 100%; */

    position: fixed;
    bottom: 0;
    width: 80%;
    left: 0;

}
/* 
.slide{
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* .splide__slide{
    height: 400px;
} */
/* #splide01-slide01{
    margin-left: 0%;
} */

/* #splide01-slide02{
    margin-left: -340px;
    width: 400px;
    margin-top: 30px;
    z-index: -1
}

#splide01-slide03{
    margin-left: -300px;
    width: 400px;
    margin-top: 60px;
    z-index: -1
} */

#splide01-slide01 .deckCard{
    background-color: $cardGrey
}
#splide01-slide02 {
    margin-left: -259px;
    z-index: -1;
    .deckCard{
        background-color: lighten( $cardGrey, 10% );
    }
}
#splide01-slide03 {
    margin-left: -259px;
    z-index: -2;
    .deckCard{
        background-color: lighten( $cardGrey, 20% );
    }
}

/* .raiseCard .sc-bxivhb{
   transform: translateY(212px) !important; 
} */